

  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

   
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  type="text/css">
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Cursos TdeA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ingresarCurso">Ingresar Curso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listarCursos">Ver Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inscripcion">Inscripción</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
   <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-5"  style="width: 60%; margin: auto;">Listado de Cursos</h1>
        
      </div>
    </div>


<div class="row">
      <div class="col-lg-12">
        <table class="table table-hover"  style="width: 60%; margin: auto;">
            <thead>
                <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Valor</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each cursos}}
                <tr>
                <td>{{this.nombre}} </td>
                <td>{{this.descripcion}} </td>
                <td>{{this.valor}} </td>
                <td>
                    <a href="#">
                        Ver
                    </a>

                </td>
                </tr>
                {{/each}}
            </thead>


        </table>
        
      </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>